[submodule "/Users/konitter/.homesick/repos/dotfiles/home/.oh-my-zh"]
	path = /Users/konitter/.homesick/repos/dotfiles/home/.oh-my-zh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.oh-my-zh"]
	path = home/.oh-my-zh
	url = https://github.com/robbyrussell/oh-my-zsh.git
